.large-10.medium-12.small-12.columns.light-grey-bg-pattern
  .row
    .large-10.columns
      .page-name
        %h3.left Dashboard
        .clearfix
  #dashboard
    .row
      = render partial: "shared/dashboardactivities", locals: { header: "Steps", data: client.steps }
      = render partial: "shared/dashboardactivities", locals: { header: "Calories", data: client.calories, icon: "fi-foot" }
      = render partial: "shared/dashboardactivities", locals: { header: "Miles", data: client.steps, icon: "fi-foot" }
      = render partial: "shared/dashboardactivities", locals: { header: "Floors", data: client.floors, icon: "fi-foot" }
    %br
    .row
      .large-8.columns
        = render partial: "shared/percent_to_goal", locals: { header: "Percent to Weekly Goal", percentage: current_user.goal.weekly_percent_to_goal }
      .large-4.columns
        = render partial: "shared/percent_to_goal", locals: { header: "Percent to Weekly Goal", percentage: current_user.goal.weekly_percent_to_goal }
    %br/
  -if !notifications_number
    = render partial: "shared/add_notification", locals: { number: notifications_number, notification: @notification }
