.large-10.medium-12.small-12.columns.light-grey-bg-pattern
  .row
    .large-10.columns
      .page-name
        %h3.left Goals
        .clearfix
#profile
  .large-4.medium-6.columns
    .profile-item.white-bg.border
      -if current_user.goal
        %h4.coral Update Goals
      -else
        %h4.coral Set some goals here
      %br/
      = form_for(@goal) do |f|
        = f.label :"What time do you wake up?"
        = f.text_field :awake_time, placeholder: "Format: Military Time HH:MM"
        = f.label :"What time do you go to sleep?"
        = f.text_field :sleep_time, placeholder: "Format: Military Time HH:MM"
        = f.label :"How many steps do you want to take a day?"
        = f.text_field :steps
        = f.submit
      .clearfix
#profile
  .large-6.medium-6.columns
    .profile-item.white-bg.border
      %h4.coral Your goals
      %br/
      - if current_user.goal
        %h6 Awake Times:
        %p
          = current_user.goal.formatted_awake_time
          \-
          = current_user.goal.formatted_sleep_time
        %h6 Daily Steps
        %p
          = current_user.goal.steps
        %p
          = button_to 'delete', goal_path(current_user.goal), method: :delete
      - else
        %p
          You currently have no goals set at this time. Step it up.
      .clearfix
