.large-10.medium-12.small-12.columns.light-grey-bg-pattern
  .row
    .large-10.columns
      .page-name
        %h3.left Goals
        .clearfix
#profile
  .large-4.medium-6.columns
    .profile-item.white-bg.border
      -if current_user.goal
        %h4.coral Update Goals
      -else
        %h4.coral Set some goals here
      %br/
      - if !current_user.profile
        %p
          Must set awake times first over
          = link_to 'here', profiles_path
      - else
        = form_for(@goal) do |f|
          = f.label :"How many steps do you want to take a day?"
          = f.text_field :steps
          = f.submit class:"button tiny"
        .clearfix
#profile
  .large-6.medium-6.columns
    .profile-item.white-bg.border
      %h4.coral Your goals
      %br/
      - if current_user.goal
        %h6 Daily Steps
        %p
          = current_user.goal.steps
        %h6 Hourly Steps
        %p
          = current_user.goal.steps_per_hour
        %p
          = button_to 'Delete', goal_path(current_user.goal), method: :delete, class:"button tiny"
      - else
        %p
          You currently have no goals set at this time. Step it up.
      .clearfix
