.large-10.medium-12.small-12.columns.light-grey-bg-pattern
  .row
    .large-10.columns
      .page-name
        %h3.left Profile
        .clearfix
  #profile
    .row
      .large-4.medium-6.columns
        .profile-item.white-bg.border
          %h4
            = current_user.username.capitalize
          %hr/
          .row
            .large-6.medium-12.small-12.columns
              = image_tag "#{client.avatar}", class:"profile-picture"
            .large-6.medium-12.small-12.columns
              %p
                Age:
                = client.age
              %p
                Gender:
                = client.gender.capitalize
              %p
                Birthday:
                = client.dob
            -if current_user.profile
              %p
                Awake Times:
                = current_user.profile.awake_times
            -else
              %br/
              = form_for @profile, url: profile_path do |f|
                = f.label :"What time do you wake up?"
                = f.text_field :awake_times
                = f.submit
              .clearfix
      .large-8.medium-12.small-12.columns
        .profile-item.white-bg.border
          %h4
            Top Badges
          %hr/
          - client.badges.each do |badge|
            = image_tag badge["image100px"], class:"profile-picture"
            = badge["description"]

            %br
          .clearfix






