.no-padding
  .large-2.medium-12.small-12.columns
    %ul.side-nav
      %li
        = link_to 'Dashboard', dashboard_index_path, class:"flaticon-dashboard1"
      %li
        = link_to 'Profile', profile_path(current_user), class:"flaticon-profile4"
      %li
        = link_to 'Goals', goals_path, class:"flaticon-forms"
      %li
        = link_to 'Notifications', notifications_path, class:"flaticon-incoming4"
      %li
        = link_to 'Friends', notifications_path, class:"flaticon-businessman22"
